<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET MVC Lab Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar-fixed-top" style="background: white; height:0px;" >
        <div class=" ASHeader"  >
            <div>
                <span>Sample Web</span>
            </div>
            <div style="float:right; ">

            </div>

        </div>
        <div class="container navbar-Alaska navbar-AS ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ACE MVC Lab", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Airport Data<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Airport Codes", "Index", "AirportCodes")</li>
                            <li>@Html.ActionLink("Web Layout Standards", "WebLayout", "Standards")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Security<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Security Demo", "SecurityDemo", "Security")</li>
                            <li>@Html.ActionLink("Encrypt Demo", "About", "Home")</li>
                            <li>@Html.ActionLink("Decrypt Demo", "DecryptDemo", "Security")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Custom<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("No Access", "NoAccess", "AppError")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

            </div>
        </div>
    </div>
    <div style="margin-top: 90px;"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div>
        <footer class="ASFooter">
            <p>&copy; @DateTime.Now.Year - ACE</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
